@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gray-900;
  }
}

.animate-on-scroll {
  opacity: 0;
}

.visible {
  opacity: 1;
}

/* Custom styles for counting up if needed */
.stat-number {
  transition: all 2s ease-out;
}
